/* @import url("./reset.css"); */

body {
  font-family: "Inter Tight", sans-serif;
  font-style: normal;
  font-weight: 500;
  background-color: #1c1d20;
  color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }
}

/* TABLET */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }
}

/* DESKTOP */

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 65px;
    padding-right: 65px;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  cursor: pointer;
  display: block;
}

/* HERO */

.hero {
  position: relative;
  background-image: linear-gradient(
    90deg,
    #1c1d20 49.68%,
    #69292d 67.73%,
    #ed3b44 100%
  );
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
}

.hero-container {
  padding-left: 0;
  padding-right: 0;
}

.hero-title {
  position: relative;
  top: 250px;
  left: 6px;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  max-width: 343px;
}
.hero-soc-list {
  position: relative;
  top: 380px;
  display: flex;
}
.soc-item {
}
.soc-link {
}
.soc-icon {
}

/* HEADER */

.header {
  padding-top: 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 10;
}

.header-mob-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.logo-wrap {
  display: flex;
  gap: 8px;
}
.logo {
}
.logo-img {
}

.burger {
  background-color: transparent;
  border: none;
}
.burger-icon {
}
