/* @import url("./reset.css"); */

body {
  font-family: "Inter Tight", sans-serif;
  font-style: normal;
  font-weight: 500;
  background-color: #1c1d20;
  color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }
}

/* TABLET */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }
}

/* DESKTOP */

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  cursor: pointer;
  display: block;
}

/* HERO */

.hero {
  position: relative;
  background-image: url(../img/hero-bg.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 32px;
  margin-bottom: 96px;
}

.hero-title {
  padding-top: 281px;
  margin-bottom: 162px;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  max-width: 343px;
}
.hero-soc-list {
  display: flex;
}

/* HEADER */

.header {
  padding-top: 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  /* z-index: 10; */
}

.header-mob-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.logo-wrap {
  display: flex;
  gap: 8px;
}
.header-menu-btn,
.header-order-btn {
  display: none;
}

.header-menu-wrap {
  display: none;
}

.burger {
  background-color: transparent;
  border: none;
}

/* WORK_TOGETHER */

.work-address {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
}

/* TABLET */
/* HEADER */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }

  .burger {
    display: none;
  }

  .header-container {
    padding-right: 20px;
  }

  .header-mob-wrap {
    display: unset;
  }

  .header-tab-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .header-menu-btn {
    display: block;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fafafa;
    border: none;
    background-color: transparent;
    margin-top: 16px;
  }

  .header-order-btn {
    display: block;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    background-color: #ed3b44;
    border-radius: 60px;
    padding: 18px 24px;
    max-width: 175px;
    /* height: 55px; */
    border: none;
  }

  .menu {
    display: none;
    position: absolute;
    top: 70%;
    left: 45%;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  .menu-wrapper {
    position: relative;
  }
}

/* TABLET */
/* HERO */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }

  .hero-container {
    padding-right: 16px;
  }

  .hero-title {
    font-size: 90px;
    padding-top: 281px;
    margin-bottom: 97px;
  }

  .hero-soc-list {
    justify-content: flex-end;
    top: 360px;
  }
}

/* DESKTOP */
/* HERO */

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }

  .hero-title {
    max-width: 1084px;
    padding-top: 300px;
    margin-bottom: 153px;
    margin: 0 auto;
  }
}

/* DESKTOP */
/* HEADER */

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }

  .menu {
    left: 47.5%;
  }
}
